
<div class="footer">
    <section id="contacts">
    <div class="contacts-item mobileBorder">
      <ul>
        <li><button mat-button><a href="https://www.linkedin.com/in/deividas-urbonavičius" target="_blank">Find me on linkedin</a></button></li>
        </ul>
    </div>
    <div class="contacts-item">

      <ul>
        <li>u.deividas@hotmail.com</li>
        <li>+370675989839</li>
      </ul>
  </div>
    <div class="contacts-item" id="connect">
      <div class="connect-item">
      <a href="https://www.facebook.com/deividas.urbonavicius" target="_blank">  <i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
      </div>

      <div class="connect-item">
          <a href="https://github.com/Artkart" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      </div>

      <div class="connect-item">
        <a href="https://www.instagram.com/deividasurbonavicius/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>

  </section>
  <footer>
    <p>Copyright © 2018 davidHTML Inc. All rights reserved.</p>
  </footer>
</div>
